<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="footer_widgets_area">
      <div class="container">
          <div class="f_widgets_inner row">
              <div class="col-lg-3 col-md-6">
                  <aside class="f_widget subscribe_widget">
                      <div class="f_w_title">
                          <h3>Subscríbete</h3>
                      </div>
                      <p>Subscríbete a nuestra lista de correo electrónico para obtener todas nuestras novedades.</p>
                      <div class="input-group">
                          <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
                          <span class="input-group-btn">
                              <button class="btn btn-secondary submit_btn" type="button">Subscribir</button>
                          </span>
                      </div>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      </ul>
                  </aside>
              </div>
              <div class="col-lg-3 col-md-6">
                  <aside class="f_widget twitter_widget">
                      <div class="f_w_title">
                          <h3>Twitter Feed</h3>
                      </div>
                      <div class="tweets_feed"></div>
                  </aside>
              </div>
              <div class="col-lg-3 col-md-6">
                  <aside class="f_widget categories_widget">
                      <div class="f_w_title">
                          <h3>Links del sitio</h3>
                      </div>
                      <ul>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Encuestas</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Estudios</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Contacto</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Blogs</a></li>
                          <!--<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Shop</a></li>-->
                      </ul>
                      <ul>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Inicio</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Nosotros</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Servicios</a></li>
                          <!--<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Work</a></li>
                          <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Privacy</a></li>-->
                      </ul>
                  </aside>
              </div>
              <div class="col-lg-3 col-md-6">
                  <aside class="f_widget contact_widget">
                      <div class="f_w_title">
                          <h3>Contáctanos</h3>
                      </div>
                      <a href="#">800 20 25 20</a> <br>
                      <a href="#"> info@wenisure.com</a>
                      <p>Almirante Barroso 76<br />Santiago, Región Metropolitana </p>
                      <h6>Horario mesa central: <br>8.00-18.00 Lun-Vie</h6>
                  </aside>
              </div>
          </div>
      </div>
  </div>
  <div class="copy_right_area">
      <div class="container">
          <div class="float-md-left">
              <h5>Copyright &copy;<script>document.write(new Date().getFullYear());</script> WEÑISURE | Template creado con <i class="fa fa-heart-o" aria-hidden="true"></i> por el brillante equipo de <a href="https://colorlib.com" target="_blank">Colorlib</a></h5>
          </div>
          <div class="float-md-right">
              <ul class="nav">
                  <li class="nav-item">
                      <a class="nav-link active" href="#">Disclaimer</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Privacy</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Advertisement</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Contact us</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>
<!--================End Footer Area =================-->