<div class="row">
  <div class="col-md10 blog-main">
    <div class="blog-post mt-4">
      <h1 class="blog-post-title border-botton">{{anuncio.titulo}}</h1>
        <p class="blog-post-meta">{{anuncio.fechaPublicacion  | date: 'dd-MMM'}}<a href="#">{{anuncio.userNombre}}</a></p>
          <blockquote>
        <h2>{{anuncio.descripcion}}</h2>
      </blockquote>
        <h2>Contacto</h2>
      <p>{{anuncio.contacto}}</p>
    </div>
  </div>
  <div class="col-md2">
    <div class="btn-group pull-right mt-4">
      <a routerLink="/edit/{{anuncio.id}}" class="btn btn-dark">Editar</a>
      <a href="#" class="btn btn-danger" (click)="onClickDelete()">Borrar</a>
    </div>
  </div>
</div>