<div>
    <br>
</div>
<a class="btn-floating btn-large waves-effect waves-light green" href="#" routerLink="/anuncio"><i class="material-icons">add</i></a>
<div>
    <ul class="collection">
        <li class="collection-item">
            <a href="" class="secondary-content">
                <i class="material-icons">mode_edit</i>
                <i class="material-icons">close</i>
            </a>
            <strong style="font-size: 2rem">Asunto</strong>
            <br>
            <blockquote style="font-size: 1rem">Descripción</blockquote>
            <br>
            <span class="my_tag amber">
                <strong>Nivel:</strong> Sala Cuna
            </span>
            <span class="my_tag amber">
                <strong>Publicado por:</strong> Director
            </span>
            <span class="my_tag amber">
                <strong>Tipo:</strong> Informativo
            </span>
            <hr>
            <div class="container-update">
                <form></form>
            </div>
        </li>
    </ul>
</div>

