<div>
    <br>
</div>
<a class="btn-floating btn-large waves-effect waves-light green" href="#" routerLink="/anuncio"><i class="material-icons">add</i></a>

<div *ngIf="notificaciones?.length > 0; else noNotificaciones"> 
    <ul *ngFor="let notificacion of notificaciones" class="collection">
        <li class="collection-item">
            <a class="secondary-content">
                <i *ngIf="editState == false" (click)="editNotificacion($event, notificacion)" class="material-icons">mode_edit</i>
                <i *ngIf="editState && notificacionToEdit.id == notificacion.id" (click)="clearState()" class="material-icons">close</i>
            </a>
            <strong style="font-size: 2rem">{{notificacion.asunto}}</strong>
            <br>
            <blockquote style="font-size: 1rem">{{notificacion.descripcion}}</blockquote>
            <br>
            <span class="my_tag green lighten-5">
                <strong>Nivel:</strong> {{notificacion.nivel}}
            </span>
            <span class="my_tag orange lighten-5">
                <strong>Publicado por:</strong> {{notificacion.formador}}
            </span>
            <span *ngIf="notificaciones?.tipo == Anuncio" class="my_tag deep-orange lighten-5">
                    <strong>{{notificacion.tipo}}</strong> 
            </span>
            <span style="font-size: 0.8rem" class="my_tag right">
                <strong>Publicado el:</strong> {{notificacion.fecha | date: 'yyyy/MM/dd h:mm:ss a'}}
            </span>
            <hr>
            <div *ngIf="editState && notificacionToEdit.id == notificacion.id"  class="container-updateNotificacion">
                    <form (ngSubmit)="onUpdateNotificacion(notificacion)" #formNew="ngForm" class="col s12"> 
                            <div class="row">
                      
                              <div class="input-field col s6">
                                <input [(ngModel)]="notificacion.asunto" #asunto="ngModel" type="text" name="asunto" id="asunto" placeholder="">
                              </div>
                      
                              <div class="input-field col s6">
                                <input [(ngModel)]="notificacion.descripcion" #descripcion="ngModel" type="text" name="descripcion" id="descripcion" placeholder="">
                              </div>
                            </div>
                            <div class="row">
                      
                              <div class="input-field col s6">
                                <input [(ngModel)]="notificacion.formador" #formador="ngModel" type="text" name="formador" id="formador" placeholder="">
                              </div>
                      
                              <div class="input-field col s6">
                                <input [(ngModel)]="notificacion.nivel" #nivel="ngModel" type="text" name="nivel" id="nivel" placeholder="">
                              </div>
                      
                              <div class="input-field col s6">
                                <input [(ngModel)]="notificacion.tipo" #tipo="ngModel" type="text" name="tipo" id="tipo" placeholder="">
                              </div>

                            </div>
                            <button (click)="deleteNotificacion($event, notificacion)" class="btn waves-effect waves-light red">
                              <span style="color:#fff">Eliminar<i class="material-icons right">delete_forever</i></span> 
                            </button>
                            <button type="submit" class="btn waves-effect waves-light green right">
                              <span style="color:#fff">Actualizar<i class="material-icons right">save</i></span>
                            </button>
                      
                    </form>
            </div>
            
        </li>
    </ul>
</div>
<ng-template #noNotificaciones>
    <hr>
    <h5>NO HAY ANUNCIOS</h5>     
</ng-template>
    

