<div class="row">
  <div class="col-md-6">
    <a href="" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>Atrás
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card">
      <div class="card-header">Nuevo Anuncio</div>
      <div class="card-body">
        <form #formGuardar="ngForm" (ngSubmit)="onGuardarAnuncio(formGuardar)">
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" 
            id="titulo" name="titulo"
            [(ngModel)]="anuncio.titulo"
            >
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea type="text" class="form-control" 
            id="descripcion" name="descripcion"
            [(ngModel)]="anuncio.descripcion"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="contacto">Contacto</label>
            <textarea type="text" class="form-control" 
            id="contacto" name="contacto"
            [(ngModel)]="anuncio.contacto"
            ></textarea>
          </div>   
          <div class="form-group">
            <label for="tags">Tags</label>
            <select multiple="" name="tags" id="tags" 
            class="form-control"  
            [(ngModel)]="anuncio.tags">
              <option>Vender</option>
              <option>Comprar</option>
              <option>Info</option>
              <option>Anuncio</option>
              <option>Actividad</option>
            </select>
          </div>
          <input type="submit" value="Guardar" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>