<div class="card">
  <div class="card-content">
  <span class="card-tittle" style="font-size: 2rem">NUEVO ANUNCIO</span>
    <div class="row">
    <form (ngSubmit)="onGuardarNotificacion(formNew)" #formNew="ngForm" class="col s12"> 
      <div class="row">

        <div class="input-field col s6">
          <input [(ngModel)]="notificacion.asunto" #asunto="ngModel" type="text" name="asunto" id="asunto" placeholder="">
          <label>Asunto</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="notificacion.descripcion" #descripcion="ngModel" type="text" name="descripcion" id="descripcion" placeholder="">
          <label>Descripción</label>
        </div>
      </div>
      <div class="row">

        <div class="input-field col s6">
          <input [(ngModel)]="notificacion.formador" #formador="ngModel" type="text" name="formador" id="formador" placeholder="">
          <label for="formador">Quién anuncia?</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="notificacion.nivel" #nivel="ngModel" type="text" name="nivel" id="nivel" placeholder="">
          <label>A quien va dirigido?</label>
        </div>

        <div class="input-field col s6">
          <input [(ngModel)]="notificacion.tipo" #tipo="ngModel" type="text" name="tipo" id="tipo" placeholder="">
          <label>Tipo de anuncio</label>
        </div>
        
      </div>
      <button routerLink="/admin" class="btn waves-effect waves-light red">
        <span style="color:#fff">Atrás</span> 
      </button>
      <button type="submit" class="btn waves-effect waves-light green right">
        <span style="color:#fff">Crear Anuncio</span> 
      </button>

    </form>
  </div>

  </div>

</div>