<div class="row">
  <div class="col-md-6"></div>
  <a href="" class="btn btn-link">
    <i class="fa fa-arrow-circle-o-left"></i>Atrás
  </a>
  <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card">
      <div class="card-header">Nuevo Residente</div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="titulo">Nombre</label>
            <input type="text" class="form-control" id="titulo" name="titulo">
          </div>
          <div class="form-group">
            <label for="departamento">Departamento</label>
            <input type="text" class="form-control" id="departamento" name="departamento">
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono">
          </div>
          <div class="form-group">
            <label for="tipoResidente">Tipo de Residente</label>
            <span class="badge badge-pill badge-dark"></span>
            <select name="tipoResidente" id="tipoResidente" class="form-control">
              <option>Propietario</option>
              <option>Arrendatario</option>
            </select>
          </div>
          <input type="submit" value="Modificar" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>