<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"><img src="assets/img/Logo-blue-horizontal.png" alt="" width="250" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="isLogin" routerLink="/admin">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link" href="#" routerLink="/register">Nuevo Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="isLogin" routerLink="/privado">Reportes <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Iniciar Sesión <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link">{{userNombre}}</a>
      </li>
      <li class="nav-item" *ngIf="isLogin">
        <img src="{{userPicture}}" alt="" class="rounded-circle">
        <span class="badge badge pill badge-secondary">{{userEmail}}</span>
      </li>
      <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" (click)="onLogout()">Cerrar Sesión</a>
      </li>
    </ul>

  </div>
</nav>
