<!--================Search Area =================
<section class="search_area">
  <div class="search_inner">
      <input type="text" placeholder="Enter Your Search...">
      <i class="ti-close"></i>
  </div>
</section>
================End Search Area =================-->

        <!--================Slider Area =================-->
        <section class="main_slider_area">
          <div>
            <ul> 
              <li>
                  <img src="assets/img/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="max-width:100%;width:auto;height:auto;"> 
              </li>
            </ul>
          </div>
      </section>
      <!--================End Slider Area =================-->

      <!--================Creative Feature Area =================-->
      <section class="creative_feature_area">
          <div class="container">
              <div class="c_feature_box">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Control de acceso seguro</h4></a>
                              <p>WeñiSure consiste en un sistema de vigilancia permanente que utiliza la última tecnología en reconocimiento facial y Machine Learning para supervisar los accesos al recinto, generando alertas cuando detecta que personas no identificadas o no deseadas intenten acceder al establecimiento, generando alertas y enviando mensajes a la seguridad del jardín o entidades de seguridad comunales e incluso Carabineros.</p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i>Tranquilidad para padres y educadores</h4></a>
                              <p>El sistema se encarga de vigilar el cuidado de tus hijos, garantiza la tranquilidad de padres y apoderados permitiendo mayor seguridad tanto para los docentes como para los menores de edad, otorgando espacios mas seguros que permitan el aprendizaje de tu hijo.</p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Tecnología de vanguardia</h4></a>
                              <p>La tecnología es un soporte fundamental para las personas, por eso queremos usarla y crear sistemas que garanticen la seguridad en los accesos de los jardines infantiles, previniendo así cualquier tipo de acceso no autorizado a los recintos y que pueda poner en riesgo las seguridad de nuestros niños.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="digital_feature p_100">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="d_feature_text">
                              <div class="main_title">
                                  <h2>Administración y seguridad en una sola herramienta</h2>
                              </div>
                              <p>WeñiSure consiste en un sistema de vigilancia permanente que utiliza la última tecnología en reconocimiento facial y Machine Learning, para supervisar los accesos al recinto y generando alertas cuando detecta que personas no identificadas o no deseadas intenten acceder al establecimiento, generando alertas y enviando mensajes a la seguridad del jardín o entidades de seguridad comunales e incluso Carabineros.</p>
                              <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>-->
                              <a class="read_btn" href="#">Leer más</a>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d_feature_img">
                              <img src="assets/img/feature-right.png" alt="" width="500" height="332" style="max-width:100%;width:auto;height:auto;margin-top:50px">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--================End Creative Feature Area =================-->

      <!--================Our Service Area =================-->
      <section class="service_area">
        <div class="container">
            <div class="center_title">
                <h2>¿Qué ofrecemos?</h2>
                <p>WeñiSure es una herramienta que permite seguir de cerca el desarrollo y el proceso educativo de los niños, creando una conexión única y poderosa entre padres e hijos en su primera etapa educativa.</p>
            </div>
            <div class="row service_item_inner">
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-book"></i>
                        <h4>Agenda diaria</h4>
                        <p>Reporte diario del progreso de tu hijo durante sus actividades.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-desktop"></i>
                        <h4>Actividades</h4>
                        <p>Seguimiento del progreso y rendimiento de tu hijo en sus actividades diarias.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-announcement"></i>
                        <h4>Mensajes</h4>
                        <p>Plataforma de mensajería instantánea entre educadores y apoderados.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-ruler-pencil"></i>
                        <h4>Tareas</h4>
                        <p>Coordinación de las tareas comunes entre educadores y apoderados.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-apple"></i>
                        <h4>Alimentación</h4>
                        <p>Coordinación de las tareas comunes entre educadores y apoderados.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-eye"></i>
                        <h4>Observaciones</h4>
                        <p>Retroalimentación del progresos de su hijo u observaciones de su comportamiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
