<!--================Search Area =================
<section class="search_area">
  <div class="search_inner">
      <input type="text" placeholder="Enter Your Search...">
      <i class="ti-close"></i>
  </div>
</section>
================End Search Area =================-->

        <!--================Slider Area =================-->
        <section class="main_slider_area">
          <div>
            <ul> 
              <li>
                  <img src="assets/img/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina style="max-width:100%;width:auto;height:auto;"> 
              </li>
            </ul>
          </div>
      </section>
      <!--================End Slider Area =================-->

      <!--================Creative Feature Area =================-->
      <section class="creative_feature_area">
          <div class="container">
              <div class="c_feature_box">
                  <div class="row">
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Control de acceso</h4></a>
                              <p>Nuestra solución permite el acceso al edificio mediante el reconocimiento de los vectores faciales de las personas, evitando que intrusos ingresen al edificio.</p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-clock-o" aria-hidden="true"></i> Registro de visitas</h4></a>
                              <p> ISCAV es una solución integral para la comunicación entre el administrador del condominio, conserje y propietario, permitiendo conocer y validar el ingreso de personas en tiempo real. </p>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="c_box_item">
                              <a href="#"><h4><i class="fa fa-diamond" aria-hidden="true"></i> Seguridad</h4></a>
                              <p>Permite identificar a los miembros residentes activos y detectar posibles intrusos en las instalaciones utilizando la tecnología del reconocimiento facial.
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="digital_feature p_100">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="d_feature_text">
                              <div class="main_title">
                                  <h2>Administración y seguridad en una sola herramienta</h2>
                              </div>
                              <p>ISCAV brinda a la comunidad un apoyo fundamental en la validación y el control de  acceso  de  los  residentes  y  visitas  a  los  edificios. El sistema permite incrementar la seguridad en condominios y edificios tanto residenciales como comerciales, asegurando el cumplimiento de los procedimientos de control de ingreso, realizar la gestión de visitas de manera ordenada y llevando a cabo un control de identidad efectivo a través de la lectura de los patrones faciales del rostro de las personas.</p>
                              <!--<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum. Sed ut perspiciatis unde omnis iste.</p>-->
                              <a class="read_btn" href="#">Leer más</a>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="d_feature_img">
                              <img src="assets/img/feature-right.png" alt="" width="500" height="332" style="max-width:100%;width:auto;height:auto;">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--================End Creative Feature Area =================-->

      <!--================Our Service Area =================-->
      <section class="service_area">
        <div class="container">
            <div class="center_title">
                <h2>Our Services</h2>
                <p>We Are A Creative Digital Agency. Focused on Growing Brands Online</p>
            </div>
            <div class="row service_item_inner">
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-ruler-pencil"></i>
                        <h4>Website Design</h4>
                        <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-desktop"></i>
                        <h4>Website Development</h4>
                        <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item">
                        <i class="ti-announcement"></i>
                        <h4>Digital Marketing</h4>
                        <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Our Service Area =================-->