<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WeñiSure Dashboard</title>

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>

<div id="wrapper">
  <div id="page-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Resumen ingreso de personas
        <div class="pull-right">
          <!--<div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Acciones
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="/privado">Ver Ingresos Personas</a>
              </li>
              <li><a href="/privado2">Ver Ingresos Vehiculos</a>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
      <div class="panel-body">
        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYTU1OTFiZGEtYzRiZi00NDY1LWI1NmQtZDM0NzkzY2Q4Mjc4IiwidCI6IjM4YTFlMGExLWI2YjEtNDJlOS1iM2E5LTU5NzYyNjY3MGIxNyIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
      </div>
    </div>

  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-clock-o fa-fw"></i> Otros datos
    </div>
  </div>
</div>

<script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
